* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

#header {
   height: 50px;
   margin: 0 7px 0 7px;
}

#footer {
   height: 35px;
   margin: 0 7px 0 7px;
}

#nav-container {
   position: relative;
   width: 100%;
}

#nav-shows {
   width: 33%;
   float: left;
   height: 100%;
   margin-left: 10px;
   margin-right: 5px;
}

.ListBox {
   height: 100%;
   outline: none;
}

#nav-episodes {
   height: 100%;
   margin-left: 10px;
   margin-right: 10px;
}
