* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

body {
   font-size: 1.3em;
}

#header {
   height: 50px;
   margin: 0 7px 0 7px;
   color: #4643a6;
}

#version {
   font-size: 0.8em;
   float: right;
}

#footer {
   height: 35px;
   margin: 0 7px 0 7px;
}

.ListBox.generic {
   height: 100%;
   outline: none;
   background-color: #eeeeee;
   border-style: none;
}

.ListBox.highlightSelection > .selected {
  background: #a4a3bf;
  color: highlighttext;
}

#nav-container {
   position: relative;
   width: 100%;
   margin-bottom: 7px;
}

#nav-shows {
   width: 33%;
   float: left;
   height: 100%;
   margin-left: 10px;
   margin-right: 5px;
}

#nav-episodes {
   height: 100%;
   margin-left: 10px;
   margin-right: 10px;
}
